<%= pagination = paginate @posts %>

<%= render 'posts', posts: @posts %>

<% if @posts.count == 0 %>
No posts were found :(
<% end %>

<div style="margin-top:10px;">
<%= pagination %>
</div>

<%= render 'footer_post' if user_signed_in? %>
