<div id="footer">
	<p>ElixirThread developed in Ruby on Rails 4.0.1 with Devise, CanCan, and Paperclip.</p>
	<% last_commit = `git --git-dir=#{Rails.root}/.git log --pretty=format:'%h' -n 1` %>
	<% last_commit_time = `git --git-dir=#{Rails.root}/.git log --pretty=format:'%ct' -n 1` %>
	<% last_commit_link = "https://github.com/TehWhale/ElixirThread/commit/" + `git rev-parse origin/master` %>
	<p>
		Last Commit: <strong><%= link_to last_commit, last_commit_link, target: "_blank" %></strong> at 
		<strong><%= Time.at(last_commit_time.to_i).strftime("%m/%d/%Y %I:%M %p") %></strong>
	</p>
</div>