<div id="footer">
	<p>Design © 2013 What.CD</p>
	<p>
		<strong>Time:</strong> 112.76698 ms <strong>Used:</strong> 3.25 MB <strong>Load:</strong> 1.95 1.99 1.97 <strong>Date:</strong> Jun 01 2013, 20:28
		<strong>Rev:</strong> 17263
	</p>
</div>